
body {
    background-color: hsl(0, 100%, 74%);
    background-image: url(images/bg-intro-desktop.png);

}

html {
    font-size: 62.5%;
}

.main {
    margin-top: 10%;
    margin-left: 12%;
    float: left;
    font-family:'Poppins', sans-serif;

}

.title {
    display: grid;
    font-size: 5.0rem;
    color: white;
    font-weight: 800;
}

.paragraph {
    color: white;
    font-size:2.0rem;
    
}


.container {
    border: solid;
    border-radius: 10px;
    border-color: hsl(248, 32%, 49%);
    background-color: hsl(248, 32%, 49%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-left: 50%;
    margin-right: 12%;
    margin-top: 5%;
    text-align: center;
    font-family:'Poppins', sans-serif;
    color: white;
    font-size: 1.6rem;
    
    
}

.container-form {
    margin-top: 20px;
    margin-left: 50%;
    margin-right: 12%;
    padding: 20px;
    border: solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: white;
    color: grey;
    text-align: center;


}

input[type=text] {
    height: 50px;
    width: 500px;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
input[type=password] {
    height: 50px;
    width: 500px;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

input[placeholder] {
    padding-left: 15px;
}

::placeholder {
    font-size: 1.6rem;
    padding-left: 2px;
}

.name {
    margin-top: 30px;
    margin-bottom: 30px;
}

.lastName {
    margin-bottom: 30px;
}

.email {
    margin-bottom: 30px;
}
.password {
    margin-bottom: 30px;
}

.button {
    margin-top: 30px;
    margin-bottom: 0px;
    border: solid;
    border-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    box-shadow: 0px 10px 10px gray;
    height: 50px;
    width: 500px;
    background-color: hsl(154, 59%, 51%);
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}
button:active {
    background-color: hsl(154, 51%, 39%);
    border-color: hsl(154, 51%, 39%);
}


.terms {
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
}

